.header-main {
  padding: 25px 55px;
  background: #d8f8ec;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  z-index: 1030;
  -webkit-box-shadow: 0px 7px 5px -3px rgba(222, 222, 222, 1);
  -moz-box-shadow: 0px 7px 5px -3px rgba(222, 222, 222, 1);
  box-shadow: 0px 7px 5px -3px rgba(222, 222, 222, 1);
}
.app-logo h4 {
  margin: 0;
  color: #f1346c;
  font-size: 28px;
  cursor: pointer;
}
.navbar-menu-items ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.navbar-menu-items ul li a {
  margin-right: 25px;
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
  text-decoration: none;
  color: #f1346c;
}
.navbar-menu-items ul li a:hover {
  margin-right: 25px;
  background: #f1346c;
  border-radius: 8px;
  color: #ffffff;
}
